
@{
    ViewBag.Title = "ThanhToanThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div class="mt-5 py-5 flex-col">
        <h2 class="font-semibold">
            Đặt hàng thành công <i class="fa-regular fa-circle-check text-success"></i>
        </h2>
        <a href="/" class="text-blue">Quay lại trang chủ</a>
    </div>
</center>
